@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
	background-image: linear-gradient(top, rgb(81,81,81) 30px, rgb(0,0,0) 130px);
	background-image: -moz-linear-gradient(top, rgb(81,81,81) 30px, rgb(0,0,0) 130px);
	background-image: -webkit-linear-gradient(top, rgb(81,81,81) 30px, rgb(0,0,0) 130px);
	background-image: -ms-linear-gradient(top, rgb(81,81,81) 30px, rgb(0,0,0) 130px);
	margin: 0px;
}

#root {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


#application {
	position: absolute;
	top: 5px;
	bottom: 0;
	left: 5px;
	right: 5px;
}

#loader {
	position: absolute;
	top: 5px;
	bottom: 0;
	left: 5px;
	right: 5px;
	z-index: 20000;

	background: rgba(0, 0, 0, .7);

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 30px;
}

#loader p {
	border-radius: 10px;
	background: rgba(200, 200, 200, .5);
	padding: 20px;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	background: #1B1B1B;
}
::-webkit-scrollbar-thumb {
	background: #3A3A3A;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #565656;
}

h4 {
	font-size: 13px;
}

#top-control {
	margin-bottom: 10px;
	position: relative;
}

#volume-controls-container {
	top: -12px;
	left: 0px;
	position: absolute;
}

#top-control #play-pause,
#top-control #prev,
#top-control #next,
.mute-button {
	border-radius: 22px;
	width: 44px;
	height: 46px;
	border-top: 2px solid rgb(138,138,138);
	border-bottom: 2px solid rgb(46,46,46);
	background: linear-gradient(to bottom, rgb(128,128,128), rgb(72,72,72));
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: middle;
	box-shadow: 0 0 1px rgb(56,56,56);
}

#top-control #prev,
#top-control #next,
.mute-button {
	width: 32px;
	height: 32px;
}

#top-control #play-pause:hover,
#top-control #prev:hover,
#top-control #next:hover,
.mute-button:hover {
	background: linear-gradient(to bottom, rgb(130,130,130), rgb(90,90,90));
	border-top: 2px solid rgb(150,150,150);
	border-bottom: 2px solid rgb(64,64,64);

}

#top-control #play-pause:active,
#top-control #prev:active,
#top-control #next:active,
.mute-button:active {
	background: linear-gradient(to top, rgb(100,100,100), rgb(64,64,64));
	border-top: 2px solid rgb(46,46,46);
	border-bottom: 2px solid rgb(64,64,64);

}

/* play-pause toggle */
#play-pause {
	display: inline-block;
}

#play-pause #play,
#play-pause #pause {
	width: 44px;
	height: 42px;
}

#play-pause.play #pause {
	display: none;
}

#play-pause.pause #play {
	display: none;
}

/* grey container */
#top-control {
	border-radius: 5px;
	border-top: 2px solid #1A1A1A;
	border-left: 2px solid #1A1A1A;
	border-bottom: 2px solid #2D2C2C;
	border-right: 2px solid #2D2C2C;

	background: #000;
	height: 80px;
	background-image: -moz-linear-gradient(bottom, rgb(37,37,37) 5%, rgb(81,81,81) 95%);
	background-image: -webkit-linear-gradient(bottom, rgb(37,37,37) 5%, rgb(81,81,81) 95%);
	background-image: -ms-linear-gradient(bottom, rgb(37,37,37) 5%, rgb(81,81,81) 95%);
	background-image: linear-gradient(bottom, rgb(37,37,37) 5%, rgb(81,81,81) 95%);
}

#search {
	position: absolute;
	right: 50px;
	top: 20px;
}

#search > i.material-icons {
	position: absolute;
	right: 3px;
	top: 2px;
	z-index: 1;
	color: #2C2C2C;
	text-shadow: none;
	font-size: 18px;
	cursor: pointer;
}

#search input {
	height: 16px;
	padding: 2px 8px;
	border-radius: 8px;
	border: none;
}

/* blue container */
#zone-container h4,
#status-container h4,
#music-sources-container h4 {
	background-image: -moz-linear-gradient(top, #2C2C2C 2%, #1C1C1C 90%);
	background-image: -webkit-linear-gradient(top, #2C2C2C 2%, #1C1C1C 90%);
	background-image: linear-gradient(top, #2C2C2C 2%, #1C1C1C 90%);
	margin: 0;
	color: #979797;
	font-size: 15px;
}

#music-sources-container ul.with-search {
	display: flex;
	margin: 0;
	padding: 0;
}

#music-sources-container ul.with-search li {
	flex: 1;
	list-style: none;
	margin: 0;
	padding: 10px;
	font-size: 15px;
	text-align: center;
	color: #979797;
	font-weight: bold;
	cursor: pointer;
	text-transform: capitalize;
}

#music-sources-container ul.with-search li.active {
	background-image: -webkit-linear-gradient(top, #555555 0px, #404040 24px);
	color: #fff;
}

#music-sources-container h4.with-history {
	text-align: center;
	position: relative;
}


#music-sources-container h4.with-history .back-arrow {
	position: absolute;
	left: 0px;
	top: 3px;
}

#music-sources-container h4.with-history .home-button {
	position: absolute;
	right: 4px;
	top: 7px;
}

#music-sources-container h4.with-history .material-icons {
	font-size: 33px;
	cursor: pointer;
}

#music-sources-container h4.with-history .home-button .material-icons {
    font-size: 25px;
}

#music-sources-container h4.with-history > span {
	margin-left: 30px;
	margin-right: 30px;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#status-container h4#now-playing {
	background-image: -moz-linear-gradient(top, rgb(79,79,79) 0%, rgb(58,58,58) 100%);
	background-image: -webkit-linear-gradient(top, rgb(79,79,79) 0%, rgb(58,58,58) 100%);
	background-image: linear-gradient(top, rgb(79,79,79) 0%, rgb(58,58,58) 100%);
	border-bottom: 1px solid rgb(36,36,36);
	color: #fff;
}

#status-container h4#queue {
	border-radius: 0;
}

#status-container #current-track-info {
	background-image: -moz-linear-gradient(top, rgb(68,68,68) 10%, #1B1B1B 100%);
	background-image: -webkit-linear-gradient(top, rgb(68,68,68) 10%, #1B1B1B 100%);
	border-top: 1px solid rgb(85,85,85);
	height: 224px;
	padding-top: 10px;
	padding-left: 5px;
}

#status-container #current-track-info div,
#status-container #current-track-info img {
	display: inline-block;
	vertical-align: top;
}

#status-container #current-track-info div {
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 1px;
	width: calc(100% - 220px);
	overflow: hidden;
	word-wrap: nowrap;
}

#status-container #current-track-info img {
	max-height: 180px;
	max-width: 180px;
}

#status-container #current-track-info div p {
	height: 36px;
	width: 100%;
	white-space: nowrap;
	overflow: ellipsis;
}

#status-container #next-track {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
}

#status-container h6 {
	color: rgb(90,90,90);
	font-weight: normal;
	font-size: 14px;
	margin: 0;
}

#status-container h5 {
	color: rgb(90,90,90);
	font-size: 14px;
	margin: 0;
	margin-top: 4px;
}

#status-container p {
	margin: 0;
	font-size: 14px;
}

/* rounded containers */
#top-control,
#zone-container,
#status-container,
#music-sources-container
{
	border-radius: 5px;
}

#column-container {
	text-align: justify;
	height: calc(100% - 105px);
}

#zone-container,
#status-container,
#music-sources-container {
	margin-left: 4.4px;
	width: -webkit-calc((100% - 15px) / 3);
	width: calc(40% - 4px);
	display: inline-block;
	height: 100%;
	height: calc(100vh - 105px);
	background: #1B1B1B;
	vertical-align: top;
	overflow: hidden;
}

#zone-container {
	margin-left: 0;
}

#zone-container,
#music-sources-container {
	width: calc(30% - 4px);
}

#zone-container h4,
#status-container h4,
#music-sources-container h4 {
	padding: 10px;
	margin: 0;
	border-bottom: 1px solid #000000;
	border-radius: 5px 5px 0 0;
}

#zone-wrapper {
	border-top: #292929 solid 1px;
}

#music-sources-container {
	position: relative;
	background-position: bottom right;
	background-repeat: no-repeat;

}

#master-volume {
	top: 18px;
	left: 10px;
	position: absolute;
}

#master-volume > * {
	display: inline-block;
	vertical-align: middle;
}

#master-volume > img {
	margin-right: 10px;
}

#top-control .volume-bar {
	width: 180px;
	height: 21px;
	border-radius: 15px;
	border-top: 1px solid #303030;
	border-bottom: 1px solid #707070;
	position: relative;
	background-image: -moz-linear-gradient(bottom, rgb(81,81,81) 5%, rgb(37,37,37) 95%);
	background-image: -webkit-linear-gradient(bottom, rgb(81,81,81) 5%, rgb(37,37,37) 95%);

}
#top-control .volume-bar img {
	cursor: pointer;
	position: absolute;
	margin: -1px 1px;
}

#player-volumes {
	width: 245px;
	position: absolute;
	top: 35px;
	left: 35px;
	background: #ddd;
	z-index: 100;
	border-radius: 10px;
	border: 3px #666 solid;
	opacity: 1;
	-webkit-transition: -webkit-opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;

}

#player-volumes > div {
	padding: 10px;
	border-top: 1px solid #333;
}

#player-volumes > div:first-child {
	border-top: 0px;
}

#player-volumes h6 {
	color: #222;
	margin: 0;
	margin-top: 5px;
	text-shadow: none;
	margin-bottom: 5px;
	font-size: 12px;
}

#player-volumes .mute-button {
	margin-right: 10px;
}

#player-volumes .volume-bar,
#player-volumes .mute-button {
	display: inline-block;
	vertical-align: middle;
}


#controls {
	position: absolute;
	height: 44px;
	width: 124px;
	left: calc(50% - 62px);
	top: 10px;
	height: 44px;
	width: 124px;
}

#position-info {
	height: 22px;
	width: 440px;
	position: absolute;
	bottom: 0;
	left: calc(50% - 220px);
}

#position-info .left {
	position: absolute;
	left: 0;
}

#position-info .right {
	position: absolute;
	right: 0;
}

#position-info .content {
	margin: 0 38px 0 38px;
	height: 22px;
	background-image: url(../images/tc_progress_container_center.png);
	font-size: 11px;
	color: #666;
	text-shadow: #111 0px -1px;
	text-align: center;
	line-height: 2;
}

#position-info .content i,
#position-info .content span,
#position-info .content img,
#position-info .content div {
	margin: 0px 5px;
	display: inline-block;
	vertical-align: middle;
}

#position-info .content i {
    font-size: 18px;
}

#position-info .content i.active {
    color: gold;
}

#position-info .content i.crossfade {
    transform: rotate(90deg);
}

#position-info .content #countup {
	margin-left: 8px;
}

#position-info .content #countdown {
	margin-right: 20px;
}

#position-bar-scrubber {
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background: linear-gradient(to bottom, rgb(240,240,240), rgb(72,72,72));
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: middle;
	display: block !important;
}

#position-bar-scrubber:hover {
	background: linear-gradient(to bottom, #999999, #6E6E6E);
	box-shadow: 0px 0px 1px 1px #999999;
}

#position-bar-scrubber.sliding {
	background: linear-gradient(to bottom, rgb(255,255,255), rgb(230,230,230));
	box-shadow: 0px 0px 1px 1px white;
}

#position-info .content #position-info-control,
#position-info .content #position-info-control div {
    margin: 0;
}


#position-bar {
	height: 4px;
	width: 150px;
	border-radius: 3px;
	border-top: 1px solid #101010;
	border-bottom: 1px solid #606060;
	vertical-align: middle;
	position: relative;
}

#zone-wrapper .zone-group {
	background-image: -moz-linear-gradient(top, #303030 0px, #252525 24px);
	background-image: -webkit-linear-gradient(top, #303030 0px, #252525 24px);
	margin: 10px;
	border-radius: 5px;
	border-top: 1px solid #434343;
	border-right: 1px solid #2B2B2B;
	border-left: 1px solid #2C2C2C;
	border-bottom: 1px solid #2B2B2B;
	position: relative;
    overflow: hidden;
}

#zone-wrapper .zone-group .play-state {
    border-top: 1px solid #434343;
    padding: 5px;
    overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
    height: 20px;
}

#zone-wrapper .zone-group .play-state * {
    font-size: 12px;
    vertical-align: top;
}

#zone-wrapper .zone-group .play-state i {
    font-size: 14px;
}

#zone-wrapper .zone-group.selected {
	background-image: -moz-linear-gradient(top, #555555 0px, #404040 24px);
	background-image: -webkit-linear-gradient(top, #555555 0px, #404040 24px);
	border-top: 1px solid #6E6E6E;
	border-right: 1px solid #3F3F3F;
	border-left: 1px solid #373737;
	border-bottom: 1px solid #363636;
}

#zone-wrapper .zone-group:hover {
	background-image: -moz-linear-gradient(top, #6E6E6E 0px, #565656 24px);
	background-image: -webkit-linear-gradient(top, #6E6E6E 0px, #565656 24px);
}

#zone-wrapper .zone-group div.group-button {
	background-image: -webkit-linear-gradient(top, #404040 0px, #303030 24px);
	border: 1px solid black;
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
}

#zone-wrapper .zone-group ul {
    min-height: 35px;
    list-style: none;
    margin: 0;
    padding: 10px 10px 10px 10px;
}

#zone-wrapper .zone-group ul li {
	list-style: none;
	padding-top: 3px;
	cursor: pointer;
}

#zone-wrapper ul li.drag {
	outline: 2px #ddd dashed;
	cursor: move;
}

#zone-wrapper ul span {
	vertical-align: super;
	font-size: 14px;
}

#browser-container,
#queue-list-container {
	margin: 0;
	padding: 0;
	cursor: pointer;
	height: calc(100% - 40px);
	border-top: 1px solid #292929;
	position: relative;
}

#browser-container {
	overflow: auto;
}

#queue-container {
	overflow: auto;
	list-style: none;
	margin: 0;
	padding: 0;

	height: 100%;
}

#queue-clear-button {
	position: absolute;
	top: -35px;
	right: 5px;
	display: block;
	text-align: right;
	color: #979797;
	cursor: pointer;
}

#queue-clear-button .material-icons {
	font-size: 33px;
}

#browser-container > li,
#queue-container > li {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	padding: 1px 0 1px 0;
	font-size: 14px;
	width: 100%;
	transition: all 0.15s;
}

#browser-container li:hover,
#queue-container li:hover {
	background: rgba(255,255,255,0.07);
	outline: none;
}

#browser-container li:focus,
#queue-container li:focus,
body #queue-container li[data-is-current=true] {
	background: rgba(255,255,255,0.10);
	outline: none;
}

#queue-container li[data-is-selected=true] {
	background: rgba(255,255,255,0.02);
	outline: none;
}

#queue-container li[data-dragover=before]:before,
#queue-container li[data-dragover=after]:after {
	content: '';
	display: block;
	height: 53px;
	background: rgba(255, 255, 255, .2);
	display: flex;
	align-items: center;
	justify-content: center;
}

#browser-container li img,
#queue-container li img {
	width: 50px;
	height: 50px;
	vertical-align: top;
	margin-right: 3px;
	display: inline-block;
}

#browser-container li div,
#queue-container li div {
	display: inline-block;
	width: calc(100% - 53px);
}

#browser-container li div.with-creator p,
#queue-container li div p {
	margin: 0;
	line-height: 24px;
	font-size: 14px;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#browser-container li div p.artist,
#queue-container li div p.artist {
	color: #aaa;
}

#browser-container li span {
	padding: 3px;
	line-height: 22px;
}

#queue-list-container {
	height: calc(100% - 316px);
}

#queue-container .trackinfo {
	position: relative;
	width: calc(100% - 53px - 80px);
}

#browser-container .playable.trackinfo {
	position: relative;
	width: calc(100% - 53px - 40px);
}

#browser-container .title,
#browser-container .creator {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#browser-container i.material-icons.arrow,
#queue-container i.material-icons.arrow {
	height: 20px;
	width: 20px;
	vertical-align: top;
	margin-top: 10px;
	opacity: 0;
	transition: all .3s;
}

#queue-container i.material-icons.checkbox {
	height: 20px;
	width: 20px;
	vertical-align: top;
	margin-top: 10px;
	opacity: .3;
	transition: all .3s;
	margin-right: 20px;
}

#browser-container :hover i.material-icons.arrow,
#queue-container :hover i.material-icons.arrow,
#queue-container :hover i.material-icons.checkbox {
	opacity: .8;
}

.inline-menu {
	position: absolute;
	background: #ddd;
	z-index: 100;
	border-radius: 5px;
	margin: 0;
	padding: 0;
	top: 35px;
	right: 15px;
	box-shadow: 0px 0px 1px 1px #999999;
}


.inline-menu > li {
	color: #222;
	margin: 0;
	padding: 10px;
	text-shadow: none;
	font-size: 14px;
	list-style: none;
}

.inline-menu > li:not(:last-child),
.inline-menu > li:not(:last-child) {
	border-bottom: 1px #666 solid;
}

.list-item-placeholder {
	min-height: 53px;
}

#music-service-management,
#zone-group-management {
	position: absolute;
	top: 5px;
	bottom: 0;
	left: 5px;
	right: 5px;
	z-index: 20000;

	background: rgba(0, 0, 0, .7);

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 20px;
}

#music-service-management-container,
#zone-group-management-container {
	min-width: 200px;
	min-height: 300px;
	background: #ddd;
	border-radius: 10px;
	border: 3px #666 solid;
	background: rgba(200, 200, 200);
	padding: 20px;
	position: relative;
}

#zone-group-management-container ul {
	margin: 0;
	padding: 0;
}

#zone-group-management-container li {
	list-style: none;
	color: #222;
	text-shadow: none;
	margin: 0;
}

#zone-group-management-container li span {
	width: calc(100% - 40px);
	display: inline-block;
	padding-top: 10px;
}

#zone-group-management-container li i.material-icons.checkbox {
	height: 20px;
	width: 20px;
	vertical-align: top;
	margin-top: 10px;
	opacity: .3;
	transition: all .3s;
	margin-right: 20px;
}

#music-service-management-container button,
#zone-group-management-container button {
	background-image: -webkit-linear-gradient(top, #404040 0px, #303030 24px);
	border: 1px solid black;
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
	position: absolute;
	bottom: 10px;
	color: #ffffff;
	font-size: 15px;
}

#music-service-management-container button.cancel-button,
#zone-group-management-container button.cancel-button {
	left: 10px;
}

#music-service-management-container button.next-button,
#zone-group-management-container button.save-button {
	right: 10px;
}
