{
  "retainLines": true,
  "compact": "auto",
  "comments": false,
  "presets": [
    ["env", {
      "targets": {
        "electron": ["1.7.5"]
      }
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "syntax-jsx",
    ["transform-react-jsx", { "pragma":"h" }]
  ],
  "sourceMaps": true
}
