{
  "retainLines": true,
  "compact": "auto",
  "comments": false,
  "presets": [
    [
      "@babel/preset-env", {
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": {
          "electron": "17.0"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-class-properties",
    "syntax-jsx",
    "transform-react-jsx",
  ],
  "sourceMaps": true
}
