{
	"parser": "babel-eslint",
    "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true,
        "jsx": true
    },
    "rules": {
    	"strict": 0,
        "comma-dangle": 0,
        "comma-spacing": 1,
        "curly": 1,
        "eol-last": 0,
        "handle-callback-err": 1,
        "key-spacing": 1,
        "new-cap": 0,
        "no-extra-semi": 1,
        "no-irregular-whitespace": 1,
        "no-mixed-spaces-and-tabs": 1,
        "no-shadow": 0,
        "no-multi-spaces": 1,
        "no-trailing-spaces": 0,
        "no-underscore-dangle": 0,
        "no-unused-vars": 1,
		"no-use-before-define": [2, "nofunc"],
        "quotes": 0,
        "semi": 1,
        "semi-spacing": 1,
		"space-before-blocks": 1,
		"object-curly-spacing": [1, "always"],
		"no-process-exit": 0
    },
    "env": {
    	"node": true,
    	"es6": true,
    	"browser": true,
    	"mocha": true,
    }
}
