<!DOCTYPE html>
<html ng-csp>
	<head>
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />

		<title id="page-title">Sonos Web Controller</title>
		<link id="favicon" rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

		<script type="text/javascript" src="bower_components/react/react-with-addons.js"></script>
		<script type="text/javascript" src="bower_components/react/JSXTransformer.js"></script>
		<script type="text/javascript" src="bower_components/requirejs/require.js"></script>
	</head>
<body>
	<header id="top-control">

		<div id="volume-controls-container"></div>

 		<div id="play-controls-container"></div>

		<div id="position-info">
			<img class="left" src="images/tc_progress_container_left.png" />
			<img class="right" src="images/tc_progress_container_right.png" />
			<div class="content">
				<img id="repeat" class="playback-mode" src="images/tc_progress_repeat_normal_off.png" />
				<img id="shuffle"  class="playback-mode" src="images/tc_progress_shuffle_normal_off.png" />
				<img id="crossfade"  class="playback-mode" src="images/tc_progress_crossfade_normal_off.png" />
				<span id="countup">0:00</span>
					<div id="position-info-control">
						<div id="position-bar">
							<div id="position-bar-scrubber"></div>
						</div>
					</div>
				<span id="countdown">-0:00</span>
			</div>

		</div>
	</header>
	<div id="column-container">
		<div id="zone-container">
			<h4>ROOMS</h4>
			<div id="zone-list-container">
			</div>
 		</div>
		<div id="status-container">

			<h4 id="now-playing">NOW PLAYING</h4>
			<div id="current-track-container"></div>

			<h4 id="queue">QUEUE</h4>
			<div id="queue-list-container"></div>

		</div>
		<div id="music-sources-container" ng-controller="BrowserCtrl">
			<h4>{{title}}</h4>

			<ul ng-if="mode === 'sources'" id="browser-container">
				<li ng-repeat="source in sources" ng-click="setSource(source)">
					<img>
					<div>
						<p>{{source.title}}</p>
					</div>
				</li>
			</ul>

			<ul ng-if="mode === 'library'" id="browser-container">
				<li ng-if="searchMode === null" ng-repeat="type in searchTypes" ng-click="setSearchType(type)">
					<img>
					<div>
						<p>{{type.title}}</p>
					</div>
				</li>

				<li ng-if="searchMode === 'artists'" ng-repeat="item in items" ng-click="navigate(item)">
					<img ng-src="{{item.albumArtURL}}">
					<div>
						<p>{{type.name}}</p>
					</div>
				</li>

				<li ng-if="searchMode === 'albums'" ng-repeat="item in items" ng-click="navigate(item)">
					<img ng-src="{{item.albumArtURL}}">
					<div>
						<p>{{type.title}}</p>
					</div>
				</li>
			</ul>

		</div>
	</div>

	<script type="text/javascript" src="js/compiled_ui.js"></script>
	<script type="text/javascript" src="js/ui_wrapper.js"></script>

</body>
</html>