<!DOCTYPE html>
<html ng-csp>
	<head>
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />

		<title id="page-title">Sonos Web Controller</title>
		<link id="favicon" rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

		<script type="text/javascript" src="bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="bower_components/requirejs/require.js"></script>
	</head>
<body>
	<header id="top-control">

		<img  id="master-mute" class="mute-button" src="svg/mute_off.svg" />
		<div id="master-volume" class="volume-bar" /><img src="images/popover_vol_scrubber_normal.png" /></div>
		<div id="player-volumes-container">
			<div id="player-volumes" class="loading"></div>
		</div>
		<div id="controls" ng-controller="PlayPauseCtrl">
			<img id="prev" src="svg/prev.svg" ng-click="prev()" />
			<div id="play-pause" class="play" ng-click="toggle()" >
				<img id="play" src="svg/play.svg" />
				<img id="pause" src="svg/pause.svg" />
			</div>
			<img id="next" src="svg/next.svg" ng-click="next()" />

		</div>
		<div id="position-info">
			<img class="left" src="images/tc_progress_container_left.png" />
			<img class="right" src="images/tc_progress_container_right.png" />
			<div class="content">
				<img id="repeat" class="playback-mode" src="images/tc_progress_repeat_normal_off.png" />
				<img id="shuffle"  class="playback-mode" src="images/tc_progress_shuffle_normal_off.png" />
				<img id="crossfade"  class="playback-mode" src="images/tc_progress_crossfade_normal_off.png" />
				<span id="countup">0:00</span>
					<div id="position-info-control">
						<div id="position-bar">
							<div id="position-bar-scrubber"></div>
						</div>
					</div>
				<span id="countdown">-0:00</span>
			</div>

		</div>
	</header>
	<div id="column-container">
		<div id="zone-container">
			<h4>ROOMS</h4>
			<div
				id="zone-wrapper"
				ng-controller="ZoneListCtrl">

				<ul ng-repeat="group in ZoneGroups"
					ng-click="select(group)"
					ng-class="{ selected : group.$.ID === $parent.selectedGroup.$.ID }">
					<li ng-repeat="member in group.ZoneGroupMember">
						<span>{{member.$.ZoneName}}</span>
					</li>
				</ul>

			</div>
		</div>
		<div id="status-container" ng-controller="CurrentTrackCtrl">
			<h4 id="now-playing">NOW PLAYING</h4>
			<div id="current-track-info">
				<img id="current-track-art" ng-src="{{track.albumArtURL}}" />
				<div>
					<h6>Track</h6>
					<p id="track">{{track.title}}</p>
					<h6>Artist</h6>
					<p id="artist">{{track.artist}}</p>
					<h6>Album</h6>
					<p id="album">{{track.album}}</p>
				</div>
				<h5>Next</h5>
				<p id="next-track"></p>
			</div>

			<h4 id="queue">QUEUE</h4>
			<ul id="queue-container" ng-controller="QueueCtrl">
				<li ng-repeat="track in tracks" ng-dblclick="goto($index+1)">
					<img  ng-src="{{track.albumArtURL}}" />
					<div class="trackinfo">
						<p class="title">{{track.title}}</p>
						<p class="artist">{{track.artist}}</p>
					</div>
				</li>
			</ul>

		</div>
		<div id="music-sources-container" ng-controller="BrowserCtrl">
			<h4>{{title}}</h4>

			<ul ng-if="mode === 'sources'" id="browser-container">
				<li ng-repeat="source in sources" ng-click="setSource(source)">
					<img>
					<div>
						<p>{{source.title}}</p>
					</div>
				</li>
			</ul>

			<ul ng-if="mode === 'library'" id="browser-container">
				<li ng-if="searchMode === null" ng-repeat="type in searchTypes" ng-click="setSearchType(type)">
					<img>
					<div>
						<p>{{type.title}}</p>
					</div>
				</li>
			</ul>

		</div>
	</div>

	<script type="text/javascript" src="js/compiled_ui.js"></script>
	<script type="text/javascript" src="js/ui_wrapper.js"></script>

</body>
</html>