body {
    background: #1b1b1b;
    font-family: Arial, sans-serif;
    text-shadow: #111 0px -1px;
}

button {
    background-image: -webkit-linear-gradient(top, #404040 0px, #303030 24px);
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    bottom: 10px;
    color: #ffffff;
    font-size: 15px;
}

#form {
    padding: none;
    margin: none;
}

#label {
    color: #fff;
}

#data {
    color: #fff;
    margin: none;
    border: none;
    background: #404040;
}

#data:focus {
    outline: none;
}

#cancel {
    color: #eee;
}