body .swal2-popup {
    background: #1b1b1b;
    font-family: Arial, sans-serif;
    text-shadow: #111 0px -1px;
}

body .swal2-popup button.swal2-styled {
    background-image: -webkit-linear-gradient(top, #404040 0px, #303030 24px);
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    bottom: 10px;
    color: #ffffff;
    font-size: 15px;
}

body .swal2-popup #form {
    padding: none;
    margin: none;
}

body .swal2-popup label {
    color: #fff;
}

body .swal2-popup input {
    color: #fff;
    margin: none;
    border: none;
    background: #404040;
}

body .swal2-popup input:focus {
    outline: none;
}

#cancel {
    color: #eee;
}

body .swal2-container {
    z-index: 210000;
}